{% extends 'base.html' %}
{% block content %}
   <!-- Hero Section -->
   <section class="hero bg-primary text-white text-center py-5">
    <div class="container">
        <h1 class="display-4">Welcome to To Do List App</h1>
        <p class="lead">"Streamline Your Tasks: Stay Organized and Productive with Our User-Friendly To-Do List App"</p>
        <a href="#" class="btn btn-light btn-lg">Learn More</a>
    </div>
  </section>
  
  <!-- Features Section -->
  <section class="features py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="feature-item text-center">
                    <i class="bi bi-laptop display-4 mb-3"></i>
                    <h3>Secure Backend</h3>
                    <p>Our app is designed to work seamlessly on various devices and screen sizes.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-item text-center">
                    <i class="bi bi-pencil display-4 mb-3"></i>
                    <h3>Easy to Use</h3>
                    <p>Intuitive and user-friendly interface for a smooth experience.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-item text-center">
                    <i class="bi bi-speedometer display-4 mb-3"></i>
                    <h3>Fast Performance</h3>
                    <p>Optimized for speed to ensure quick loading and responsiveness.</p>
                </div>
            </div>
        </div>
    </div>
  </section>
  
{% endblock %}